<div class="registration-form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit(registrationForm)" novalidate #registrationForm="ngForm">
    <div class="form-input">
      <as-text-input
        [type]="emailInputType"
        [title]="emailTitle"
        [parent]="form"
        [inputName]="emailInputField">
        <div *ngIf="registrationForm.submitted && emailInputControl.errors" class="first-error" as-input-error>
          {{ getFirstError(emailInputControl.errors, emailInputField) }}
        </div>
      </as-text-input>
    </div>
    <div class="form-input">
      <as-text-input
        [type]="passwordInputType"
        [title]="passwordTitle"
        [parent]="form"
        [inputName]="passwordInputField">
        <div *ngIf="registrationForm.submitted && passwordInputControl.errors" class="first-error" as-input-error>
          {{ getFirstError(passwordInputControl.errors, passwordInputField) }}
        </div>
      </as-text-input>
    </div>
    <as-accept-criteria
      *ngIf="passwordCriteria?.length"
      [criteria]="passwordCriteria"
      [errors]="form.get(passwordInputField).errors"></as-accept-criteria>
    <button class="form-submit-button" type="submit">
      {{ submitButtonTitle }}
    </button>
  </form>
</div>
