<div class="registration-form-wrapper">RegistrationForm
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <!--<as-text-input-->
      <!--[type]="emailInputType"-->
      <!--[title]="emailTitle"-->
      <!--[parent]="form"-->
      <!--[inputName]="emailInputField"></as-text-input>-->
    <!--<as-text-input-->
      <!--[type]="passwordInputType"-->
      <!--[title]="passwordTitle"-->
      <!--[parent]="form"-->
      <!--[inputName]="passwordInputField"></as-text-input>-->
    <!--<as-accept-criteria></as-accept-criteria>-->
    <!--<as-submit-button-->
      <!--[title]="submitButtonTitle"-->
      <!--[isDisabled]="form.invalid"></as-submit-button>-->
  </form>
</div>
